<div class="outside_wrapper portfolio_page">
    <h1>Advocating for Native at Etsy</h1>

    <div class="portfolio_image_container hero desktop">
        <%= image_tag_with_at2x "/images/portfolio/product_grid.jpg", alt: "Etsy product grid for iPad" %>
        <div class="caption">My first project at Etsy was designing a side-scrolling item grid for buyer profiles in a never-to-be-released version of Etsy for iPad, 2013.</div>
    </div>

    <div class="portfolio_image_container hero mobile">
        <%= image_tag_with_at2x "/images/portfolio/mobile_product_grid.jpg", alt: "Etsy product grid for iPad" %>
    </div>

    <section class="writing">
        <div class="content_wrapper">
            <p class="less_margin_bottom"> 
                Etsy acquired Mixel&apos;s four-person design and development team on January 1, 2013, in order to shore up their tiny mobile team and to grow the presence of their native iPhone app. Over the years I&apos;ve taken this mission to heart, and even though native development at Etsy is no longer concentrated in a single mobile team, I continue to advocate for special native-focused projects. I believe this keeps us nimble and aids Etsy in many ways, including:
            </p>
            <ul>
                <li>Growing and supporting our dedicated user base</li>
                <li>Generating a positive perception of Etsy&apos;s continued technology focus both internally and to investors</li>
                <li>Shepherding the relationship with our technology partners, both Google and Apple</li>
            </ul>

            <h2 class="border_top">Sell on Etsy</h2>
            <p>
                Sell on Etsy was one of the most challenging and rewarding projects I&apos;ve worked on to date. Originally the forward-looking vision of a single developer, SoE was meant to create a streamlined process for new users to begin selling on Etsy though a standalone mobile app. 
            </p>
            <div class="soe_animation portfolio_image_container mobile">
                <%= image_tag "/images/portfolio/soe_intro_animation.gif", alt: "Prototype of intro animation for Sell on Etsy", class: "soe_intro_animation" %>
            </div>
            <p>
                But problems quickly arose. While the initial ideas were terrific in isolation, Etsy &ndash; already a bustling marketplace &ndash; used listings and shops that contain more structured data than the early conception of SoE would support. It seemed that if this version of the app launched, the shops and listings it would produce would have too little data to succeed in the real marketplace. This, along with changes in management and the sea change caused by the introduction of iOS 7, made the launch of SoE seem like an impossibility.
            </p>

            <div class="soe_animation portfolio_image_container desktop">
                <%= image_tag "/images/portfolio/soe_intro_animation.gif", alt: "Prototype of intro animation for Sell on Etsy", class: "soe_intro_animation" %>
                <div class="caption">
                    Intro animation prototype created in Xcode, 2013.
                </div>
            </div>
            <p>
                Clearly we needed to change SoE in a fundamental way. I began talking to the VP of engineering, the director of mobile, and my design manager trying to figure out how we could save the app. After a month or two of conversation we decided to re-cast the app as a set of seller tools for already established Etsy sellers. We invited the developer to NYC and had soon convinced him of the idea as well.
            </p>
            <div class="portfolio_image_container desktop">
                <%= image_tag_with_at2x "/images/portfolio/soe.jpg", alt: "Various screens from Sell on Etsy" %>
                <div class="caption">
                    <%= link_to "Sell on Etsy", "https://itunes.apple.com/us/app/sell-on-etsy/id860815329?mt=8", class: "no_wrap" %> and <%= link_to "The Sell on Etsy Reader", "https://www.etsy.com/reader", class: "no_wrap" %>, 2014. L to R: Intro screen by Etsy Brand Studio, Reviews, Stats, SoE icon, Etsy Card Reader, Listings, Individual listing.
                </div>
            </div>

            <div class="portfolio_image_container mobile">
                <%= image_tag_with_at2x "/images/portfolio/mobile_soe.jpg", alt: "Various screens from Sell on Etsy" %>
            </div>
            <p>
                We redesigned and developed the whole app in 3 months, removing onboarding but adding push notifications, a dashboard, stats, listing management, order screens, convos, reviews, and numerous settings screens. Having recreated most of Etsy's seller tools our team of 6 launched Sell on Etsy in early 2014. A different team followed up this release with an Android version just 2 months later. Sellers love SoE and report using it every day to manage their shops. 
            </p>

            <h2 class="border_top">In-Person Payments and the Etsy Card Reader</h2>
            <p>
                We knew that many of our sellers were using other payment solutions when selling in person, and this was causing them to create two sets of inventory &ndash; one in our system and one for whichever other system they were using for in-person sales. By creating our own card reader Etsy sellers would be able to use their Etsy inventory exclusively when selling in person. Fred Wilson writes about this idea and more <%= link_to "here", "http://avc.com/2014/10/feature-friday-etsy-in-real-life/" %>.
            </p>
            <div class="portfolio_image_container desktop">
                <%= image_tag_with_at2x "/images/portfolio/card_reader_software.png", alt: "In-person payments software for Sell on Etsy" %>
                <div class="caption">
                    In-person payments software for Sell on Etsy, 2014. L to R: Animated modal presentation of in-person mode, full in-person cart. Bottom: signature screen. 
                </div>
            </div>

            <p>
                Over the course of several months I designed software for both iOS and Android that would enable credit card swiping, manual entry, cash entry, discounts, and practice swiping. 
            </p>

            <div class="portfolio_image_container mobile">
                <%= image_tag_with_at2x "/images/portfolio/mobile_card_reader_software.jpg", alt: "In-person payments software for Sell on Etsy" %>
            </div>

            <p>
                Also, this was Etsy's first attempt at creating a physical product, and we treated the card reader as a special item by adding a locally sourced, reusable holder/base made from recycled materials. I advised for this part of project as well.
            <p>
            <div class="portfolio_image_container">
                <%= image_tag_with_at2x "/images/portfolio/card_reader_packaging.jpg", alt: "Etsy Card Reader and packaging" %>
                <div class="caption">
                    Etsy Card Reader and packaging, 2014.
                </div>
            </div>

            <h2 class="border_top">EtsyKit</h2>
            <p>
                EtsyKit is an iOS framework and demo app for internal use that helps developers create Etsy styling. The framework's accompanying demo app demonstrates EtsyKit&apos;s capabilities.
            </p>

            <div class="etsy_kit portfolio_image_container desktop">
                <%= image_tag_with_at2x "/images/portfolio/etsykit_01.jpg", alt: "Various screens from the EtsyKit demo app" %>
                <div class="caption">
                    EtsyKit demo app, 2015. Top row: color selector and half-modal for code view; listing card patterns. Bottom row: the universal app displays a menu and content when reoriented to landscape, 2015.
                </div>
            </div>

            <div class="etsy_kit portfolio_image_container mobile">
                <%= image_tag_with_at2x "/images/portfolio/mobile_etsykit_01.jpg", alt: "Various screens from the EtsyKit demo app" %>
            </div>
            <p>
                Before EtsyKit, the native apps were a hodgepodge of different visual elements and coding styles. This made both visual QA and development tedious and error prone. A staff engineer asked me to assist him in creating canonical patterns as well as design the demo app. Though this was not my main project at the time, I jumped at the chance. EtsyKit is now used in the development of all iOS features.
            </p>


            <h2 class="border_top">Appreciation Photos</h2>
            <p>
                Etsy transactions often start relationships between buyers and sellers. By providing a way for buyers to attach appreciation photos to 5-star reviews, sellers could then see their hard work in situ and feel positive vibes from a happy buyer. Even better, if a buyer shared their photo on a social network it could spur more sales for the seller&apos;s shop. Moreover, we theorized that reviews with appreciation photos might sway new buyers that were on the fence to purchase a similar item.
            </p>
            <p>
                My team and I decided to create a native-only experience that would take advantage of the camera on mobile phones to help satisfied buyers capture appreciation photos and attach them to 5-star reviews. After posting the review we then prompted the buyers to share their photos on social media &ndash; reminding them that this could help the seller make more sales.
            </p>

            <div class="portfolio_image_container">
                <%= image_tag_with_at2x "/images/portfolio/ap_add_photos_5.png", alt: "#", class: "desktop" %>
                <div class="side_by_side_caption caption">
                   My team created new reviews layouts for all platforms that updated the visual design and incorporated appreciation photos inline with the review. We also updated the 5-star review flow in the Etsy app to guide users to create better photos, 2015.
                </div>
            </div>

            <p>
                The team improved the reviews flow while adding appreciation photos to reviews throughout the Etsy system (web, iOS, and Android). We also created landing pages for inbound traffic to shared AP links. I prototyped 3 animations including a star animation to promote tapping into reviews, an animation that displayed several illustrations of the right kinds of photos, and a separate animated popup that conveyed the value of sharing their appreciation photo on social media.
            </p>

            <div class="share_ap_animation portfolio_image_container">
                <%= image_tag "/images/portfolio/ap_share.gif", alt: "An animated popup for the appreciation photos project" %>
                <div class="caption">
                  Post review animated popup to convey the value of sharing an appreciation photo on social media, 2015.
                </div>
            </div>

            <p>
                The appreciation photos project was incredibly successful for Etsy. We increased the number of reviews submissions, and saw an increase in overall conversion for items with appreciation photos in their reviews. The percentage of purchases that result in a review has also doubled, and in just 6 months we're beyond half a million photos shared. Additionally, there has been an uptick in visits from social media that can be attributed to shared photos.
            </p>

            <h2 class="border_top">Apple Watch</h2>
            <p>
               I remember working on iOS apps when the App Store was still fairly empty; it gave my clients easy discoverability. Not only was a new device class from Apple too attractive to ignore but the prospect of a nearly empty launch day App Store section made creating an app for the soon to be launched Apple Watch a no-brainier. When I noticed Mike, a crackerjack iOS developer, experimenting with the pre-release SDK, I knew I had a partner! I created rough mockups that night and we commisioned a 3D-printed Apple Watch so that we could feel out the new device without actually having access to one.
            </p>
            <div class="portfolio_image_container">
                <%= image_tag_with_at2x "/images/portfolio/apple_watch_3d_print.jpg", alt: "3D printed Apple Watch prototype" %>
                <div class="caption">
                    3D printed Apple Watch used to get a feeling for the device and mockups, 2014.
                </div>
            </div>
            <p>
                Mike and I became serious about using the SDK, and with the help of a project manager started to flesh out the app and notifications. Arpan, our group&apos;s director, called our Apple rep who invited Mike and me out to Cupertino to work with prototype watches. For the two weeks we worked alongside Apple designers and developers to craft our app.
            </p>
            <p>
                Once at Apple and testing our work on real devices, several things became obvious. First, Glances seemed like an important way to get users to launch our app. But it also seemed to have limited layout capabilities. Also, we realized that animations that ran well in the simulator caused real Apple Watches to choke. We modified our designs to fit the constraints. No question, working with real hardware and software &ndash; no matter how buggy &ndash; was invaluable.
            </p>

            <div class="apple_watch_image_container desktop">
                <%= image_tag_with_at2x "/images/etsy_apple_watch_app.jpg", alt: "Etsy for Apple Watch" %>
                <div class="caption">
                    <%= link_to "Etsy for Apple Watch", "https://itunes.apple.com/app/etsy/id477128284?mt=8&media=watch" %>, 2015. Left to right, top to bottom: notification, recommended items glance, home screen, orders shipped glance, package tracking modal.
                </div>
            </div>

            <div class="apple_watch_image_container mobile">
                <%= image_tag_with_at2x "/images/etsy_apple_watch_app_mobile.jpg", alt: "Etsy for Apple Watch" %>
            </div>

            <p>
                Etsy for Apple Watch was launched the same day that the App Store made watch extensions available. Both our watch app and our universal buyer app were featured that day and for many weeks following. Subsequently, Apple displayed the Etsy logo during consecutive Apple Watch related announcements, and internally the watch was touted to our investors as a sign that Etsy actively cared about emerging technology.
            </p>

            <h2 class="border_top">Etsy for Apple TV</h2>
            <p>
                After the marketing success of our Apple Watch I've been eager to create an Apple TV app for Etsy. This is a challenge because the current internal Etsy teams structure promotes creating cross-platform products, but does not account for new platforms like the TV. Also, after the latest Apple keynote &ndash; where Apple showed an early prototype of a Gilt Group shopping app &ndash; it seems that Apple believes the TV will become a significant e-commerce platform. It's up to me to gather support for the project. 
            </p>

            <div class="portfolio_image_container">
                <%= image_tag_with_at2x "/images/portfolio/apple_tv_01.jpg", alt: "Etsy for Apple TV" %>
                <div class="caption">
                  Proposed home screen, 2015.
                </div>
            </div>

            <div class="portfolio_image_container">
                <%= image_tag_with_at2x "/images/portfolio/apple_tv_02.jpg", alt: "Etsy for Apple TV", class: "desktop" %>
                <div class="caption">
                  Proposed home screen with focus farther down the screen, 2015.
                </div>
            </div>

            <div class="portfolio_image_container">
                <%= image_tag_with_at2x "/images/portfolio/apple_tv_03.jpg", alt: "Etsy for Apple TV" %>
                <div class="caption">
                  App search, which we want to integrate with higher-level TV search, 2015.
                </div>
            </div>
            <p>
                Knowing this, I&apos;ve already created mockups for the project and am actively generating buzz around the office. Once we have a small team in place, we'll be able to experiment in live code and adjust the app accordingly. I have high hopes :)
            </p>
            
        </div>
    <section>
</div>