
<ul>
  <li class="post">
    <h3>2009</h3>
    <ul>
      <li><%= image_tag("/images/artwork/2009/DSC_0431.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_0514.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_0666.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_0704.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_0004.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_0512.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_1670.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_1199.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_1610.jpg") %></li>
      <li><%= image_tag("/images/artwork/2009/DSC_1396.jpg") %></li>
    </ul>
  </li>

  <li class="post">
    <h3>2008</h3>
    <ul>
      <li><%= image_tag("/images/artwork/2008/DSC_0063.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/DSC_0085.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/DSC_0081.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/DSC_0129.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/DSC_0232.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/DSC_0266.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/DSC_0135.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/sordid.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/DSC_0113.jpg") %></li>
      <li><%= image_tag("/images/artwork/2008/candle_lights.jpg") %></li>
    </ul>
  </li>

  <li class="post">
    <h3>2007</h3>
    <ul>
      <li><%= image_tag("/images/artwork/2007/loft1.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/IMG_1001.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/jn4.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/wineBath3_30.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/wonkyLegsDetail.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/IMG_1502Corrected.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/IMG_1511.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/IMG_1863.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/IMG_1867.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/insert.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/philosophyClubFront.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/philosophyClubBack.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/front.jpg") %></li>
      <li><%= image_tag("/images/artwork/2007/back.jpg") %></li>
    </ul>
  </li>

  <li class="post">
    <h3>2006</h3>
    <ul>
      <li><%= image_tag("/images/artwork/2006/jack6.jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/mainImage2.jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/deSpTM.jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/StanfieldRoy13(2006).jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/StanfieldRoy16(2006).jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/thing.jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/DSC01810.jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/dirtEditTest.jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/2ndDay3.jpg") %></li>
      <li><%= image_tag("/images/artwork/2006/DSC02536.jpg") %></li>
    </ul>
  </li>

  <li class="post">
    <h3>2005</h3>
    <ul>
      <li><%= image_tag("/images/artwork/2005/lampPost.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/tarWall.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/DSCN1770.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/DSCN1789.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/DSCN1860.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/blocker3.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/sticksFlash.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/install2.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/benchPhoto.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/fuji2.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/bannerPlusRock.jpg") %></li>
    </ul>
  </li>

  <li class="post">
    <h3>2004</h3>
    <ul>
      <li><%= image_tag("/images/artwork/2004/brown3.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/works.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/grid.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/4.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/clubHouse.jpg") %></li>
      <li><%= image_tag("/images/artwork/2005/brokenBottles.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/comicsBooks2.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/brokenBottles.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/differentGirls.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/poor.jpg") %></li>
      <li><%= image_tag("/images/artwork/2004/airConditioner.jpg") %></li>
    </ul>
  </li>

</ul>

