<div class="content_wrapper">

  <h1>
  <%= mail_to "roystanfield@gmail.com", "Roy Stanfield" %> is a web and mobile app designer working for <%= link_to "Etsy", "http://etsy.com/" %> in Brooklyn, NYC.
  </h1>

  <section id="single_image_for_phones">
    <%= image_tag_with_at2x "/images/phone_fat_bachelor.png", alt: "Fat Bachelor, an iOS app by Roy Stanfield" %>
  </section>

  <section class="writing">
      <p>
        I&apos;ve recently finished designing Etsy&apos;s second native app, <%= link_to "Sell on Etsy", "https://itunes.apple.com/us/app/sell-on-etsy/id860815329?mt=8", class: "no_wrap" %>, which launched in six countries. Building on top of that foundation &ndash; <%= link_to "dongle deployed!", "https://twitter.com/RoyStanfield/status/525276458978385920" %> &ndash; my team and I just launched a card reader for both Android and iOS devices that helps sellers make in-person cash and credit card sales. Unlike a Square reader, it is powerfully integrated with an Etsy seller&apos;s shop inventory. Fred Wilson writes about it <%= link_to "here", "http://avc.com/2014/10/feature-friday-etsy-in-real-life/" %>.
      </p>
      <p>
        Before Etsy I worked at Mixel, building fun apps for creating, sharing and remixing collages. While there I created designs for the iPad, iPhone and web. On the web side, I implemented my work using Ruby on Rails, Javascript and CSS. <%= link_to "Mixel was acquired by Etsy", "http://allthingsd.com/20130122/etsy-acquires-mixel-for-mobile-team/" %> in January 2013.
      </p>
      <p>
        My mornings are spent jogging to work while wearing a nerdsack. I usually follow this up with an hour of extracurricular iOS programming.
      </p>
  </section>

  <section id="carousel_wrapper">
      
      <div class="image_wrapper">
        <ul>
          <li class="bigger_image_li">
            <%= image_tag_with_at2x "/images/phone_reader_etsy.png", alt: "Sell on Etsy, an iOS app for Etsy sellers" %>
            <p><%= link_to "Sell on Etsy", "https://itunes.apple.com/us/app/sell-on-etsy/id860815329?mt=8" %> and <%= link_to "The Sell on Etsy Reader", "https://www.etsy.com/reader" %>, Etsy 2014</p>
          </li>
          <li>
            <%= image_tag_with_at2x "/images/phone_fat_bachelor_red.png", alt: "Fat Bachelor, an iOS app by Roy Stanfield" %>
            <p>Fat Bachelor, Coming in 2015</p>
          </li>
          <li>
            <%= image_tag_with_at2x "/images/phone_capsule.png", alt: "Capsule, an iOS app" %>
            <p>Capsule, 2013</p>
          </li>
          <li>
            <%= image_tag_with_at2x "/images/phone_mixel.png", alt: "Mixel, an iOS app" %>
            <p>Mixel, 2012</p>
          </li>
        <ul>
      </div><!-- eo .image_wrapper -->

      <div class="app_icon_wrapper">
        <ul>
          <li>
            <span></span>
            <%= image_tag_with_at2x "/images/app_icon_etsy.png", alt: "Sell on Etsy app icon" %>
          </li>
          <li>
            <span></span>
            <%= image_tag_with_at2x "/images/app_icon_fb.png", alt: "Fat Bachelor app icon" %>
          </li>
          <li>
            <span></span>
            <%= image_tag_with_at2x "/images/app_icon_capsule.png", alt: "Capsule app icon" %>
          </li>
          <li class="last">
            <span></span>
            <%= image_tag_with_at2x "/images/app_icon_mixel.png", alt: "Mixel app icon" %>
          </li>
        </ul>
      </div><!-- eo .app_icon_wrapper -->

  </section>

</div>

