<div class="outside_wrapper">
  <div class="text_wrapper">

    <h1>Roy Stanfield &mdash;</h1>
    <p>
      web and app designer working for Airbnb in <span class="no_wrap">San Francisco.</span>
    </p>

    <p>
      Airbnb employees work as one big team, and for our latest release everyone on the design team pitched in. In the video below, <span class="no_wrap">CEO, Brian Chesky </span> presents the culmination of many months of work by our leadership, engineers, and designers. A few things that I touched even make an appearance. &#9786;
    </p>

    <span class="vert_spacer"></span>
  </div>

    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    </style>
    <div class='embed-container'>
      <iframe src='https://www.youtube.com/embed/efNyRmTLbjQ' frameborder='0' allowfullscreen></iframe>
    </div>
    
  <div class="text_wrapper">
    <span class="vert_spacer">&nbsp;</span>

    <h2>Airbnb&apos;s Design Language System</h2>

    <p>
      I work on Airbnb&apos;s Design Language System team.<span class="br"></span> Internally known as DLS, our small collaborative group blends product team knowledge and <span class="no_wrap">in-house</span> art direction into a singular set of reusable components.
    </p>
    <p>
      On the DLS team we strive to eliminate platform specificity in our components so that Airbnb&apos;s UI is as similar as possible across Android, iOS, and responsive web. This way a designer can create for just one platform and in a single device size (mobile first) while still being certain that their design will perform on all platforms. These same benefits extend to Airbnb&apos;s developers who use DLS components to quickly assemble front-end code. And since platform specificity has been reduced our React Native features require very little fuss to run in both Android and iOS.
    </p>

    <h2>While at Etsy (2013-2016)</h2>

    <p>
      Before Airbnb, I worked at Etsy in Brooklyn. While there I created designs for iOS, Android and the responsive web, and worked with teams that prioritize testing and user research to make product decisions. Along the way I created mockups, designed with code and prototyped animations all while advocating for Etsy to embrace emergent native technologies. The whole experience highlighted the importance of eliminating barriers between designers, engineers, product managers, product marketing managers and executives.
    </p>

  </div>

    <%= image_tag "/images/etsy_apps_phone.jpg", alt: "Various Etsy apps", class: "etsy_phones" %>

  <div class="text_wrapper">

    <p>
      At Etsy I am proud to have redesigned Etsy sellers&apos; shop home and admin experience on both web and native platforms, co-created the Sell on Etsy app, pushed for Etsy to become an Apple Watch launch partner, and advocated for Etsy to create their own Apple TV app.
    </p>

    <p>
      Before Etsy I worked for Khoi Vinh at Mixel, building fun apps for creating, sharing and remixing collages. While there I created designs for the iPad, iPhone and web. On the web side, I implemented my work using Ruby on Rails, Javascript and CSS. Mixel was acquired by Etsy in January 2013.
    </p>
    
    <h2>Personal Projects</h2>
    <p>
      Working on my own designs keeps me inspired and helps me learn new technologies. I&apos;m currently studying Unity in the mornings, contributing design for an open source React Native IDE, and just recently completed an exploratory redesign of Apple&apos;s Remote app, which integrates Siri and new social annotation features with Apple TV and iTunes media.
    </p>
  </div>

    <%= image_tag "/images/annotations_tv_with_tv.jpg", alt: "Annotations" %>

  <div class="text_wrapper">

    <p>
      I&apos;m a proud father and start my day changing diapers and riding my bike to work. Hey, if you see a nice car in the city streets, please add it to <a href="https://www.instagram.com/explore/tags/roysgarage/">#roysgarage</a> on <a href="https://www.instagram.com/roystanfield/">Instagram</a>.
    </p>

  <footer>
    <ul>
      <li><%= link_to "Twitter", "https://twitter.com/RoyStanfield"%></li>
      <li><%= link_to "Instagram", "http://instagram.com/roystanfield" %></li>
      <li><%= mail_to "roystanfield@gmail.com"%></li>
    </ul>
    <p>Roy Stanfield, 2016</p>
  </footer>
  </div>
</div>
