<div class="post sell_on_etsy">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/sell_on_etsy.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/sell_on_etsy.jpg", :'1x' => "/images/sell_on_etsy.jpg", :'2x' => "/images/sell_on_etsy@2x.jpg") %>
      <% end %>
    </div>

    <h4>23 April 2014</h4>
    <h2><a href="https://itunes.apple.com/us/app/sell-on-etsy/id860815329?mt=8">Sell on Etsy</a> launched in six languages</h2>
    
    <div class="columns">

      <p>A critical part of the work at <a href="http://www.etsy.com">Etsy</a> is building tools to help sellers grow their Etsy shops. Our sellers spend a lot of time in workshops, studios, or at in-person marketplaces, and running an Etsy business should fit seamlessly into their lives. With <em>Sell on Etsy</em> we were able to do just that.</p>

      <p>We packed in a tremendous amount of functionality in the first version of the app. Sellers recieve push notifications, a shop activity feed and shop stats. They&apos;re able to fill orders, respond to Etsy conversations, create new items or renew older ones.</p>

      <p>We tried to make the app feel light and airy &ndash; highlighting only the seller&apos;s items and the buyer activity around those items. Working with <a href="https://dribbble.com/mdeckert">Melissa Deckert</a> and <a href="http://samuelsherman.tumblr.com/">Samuel Sherman</a> of Etsy&apos;s Global Design Studio we were able to create impressive visual flourishes that were unmistakably Etsy without visually weighing down the user interface. We worked with Oak who provided <a href="http://blog.symbolset.com/sell-on-etsy">a set of icons</a>.</p>

      <p><em>Sell on Etsy</em> is a version 1.0 app that supports both iOS 6 and 7. We even launched internationally translating the app into six languages. We look forward to adding features and perfecting the ones that are already there.</p>

      <p>Thanks to the team including <a href="https://twitter.com/jeyb">Jey Biddulph</a>, <a href="https://twitter.com/amyinspace">Amy Dyer</a>, <a href="https://twitter.com/lacyrhoades">Lacy Rhodes</a>, <a href="https://twitter.com/thescottostler">Scott Ostler</a>, <a href="https://twitter.com/podduturi">Arpan Podduturi</a>, <a href="https://twitter.com/BritWills">Brittany Williams</a>, <a href="https://twitter.com/jennylow">Jen Macchiarelli</a>, <a href="https://twitter.com/pchensoftware">Peter Chen</a> and many more at Etsy.</p>
    </div>
  </div>
</div>






<div class="post mixel_acquired_by_etsy">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/mixel_web_iphone.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/mixel_web_iphone.jpg", :'1x' => "/images/mixel_web_iphone.jpg", :'2x' => "/images/mixel_web_iphone@2x.jpg") %>
      <% end %>
    </div>

    <h4>22 January 2013</h4>
    <h2>Mixel acquired by Etsy!</h2>
    
    <div class="columns">

      <p>Mixel has been acquired by <a style="white-space: normal;" href="http://www.etsy.com/">Etsy, the marketplace we make together</a>. It&apos;s a wonderful fit for the ideas and passion that went into everything we&apos;ve built. Read <a href="http://www.etsy.com/blog/news/2013/etsy-acquires-mixel/">the announcement on Etsy&apos;s blog</a>.</p>

      <p>I&apos;m super excited to start working at Etsy, but like the rest of the team at Mixel, I want to make sure that Mixel users can still access their collages and continue to make awesome new ones. So we&apos;ve built a new version of the app.</p>

      <p>We&apos;re phasing out the social network aspect of Mixel. But the unique core creativity engine remains. You can still pull in your pictures from just about anywhere and Mixel will automatically compose beautiful collages for you.</p>

      <p>The redesigned app needed a new marketing page, and we bounced around a couple of ideas. Although we decided not to use it for the final marketing, the page above was created so that people could experience the <em>shuffle</em> feature in their web browsers. Check out the <a href="/demos/shuffle_demo/index.html" target="_blank">demo (Webkit desktop browser only)</a> and make sure to click the <em>shuffle</em> button.</p>
    </div>
  </div>
</div>








<div class="post mixel_for_iphone">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/mixel_iphone_v1.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/mixel_iphone_v1.jpg", :'1x' => "/images/mixel_iphone_v1.jpg", :'2x' => "/images/mixel_iphone_v1@2x.jpg") %>
      <% end %>
    </div><!-- .image_wrapper -->

    <h4>18 September 2012</h4>
    <h2>Mixel for iPhone</h2>
    
    <div class="columns">
      <p>At <a href="http://mixel.cc">Mixel</a> we just launched our iPhone app, which was recently featured in the <a href="https://itunes.apple.com/app/mixel-for-iphone/id549650476">App Store</a>. The app lets you easily combine pictures, add filters and share collages to Mixel or other networks.</p>
      
      <p>We knew the iPhone app had to be more than a simple port of our previous iPad app. For example, cropping images with your finger didn&apos;t seem as attractive on the phone&apos;s smaller screen. So instead we created a <em>shuffle</em> feature. Users add their photos and press the <em>shuffle</em> button until they are happy with the results. Thanks to <a href="https://twitter.com/aleffert">Akiva</a>, this works very smoothly.</p>

      <p>We also noticed that the <em>remix</em> feature in the Mixel iPad app made users hesitant to share their personal photos. So we removed it, opting instead for an album feature that allowed users who follow each other to create albums together &ndash; sharing whole collages instead of collage pieces.</p>

      <p>It was particularly fun to add a colorful, animated gradient to the nav and toolbars. Each tab has its own base color that animates at the top of the otherwise white Mixel UI.</p>

    
    </div><!-- .columns -->
  </div><!-- .copy -->
</div><!-- .post -->











<div class="post sound_and_vision">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/sound_and_vision.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/sound_and_vision.jpg", :'1x' => "/images/sound_and_vision.jpg", :'2x' => "/images/sound_and_vision@2x.jpg") %>
      <% end %>
    </div><!-- .image_wrapper -->

    <h4>16 September 2012</h4>
    <h2>Playlists inspired by visual artists</h2>
    
    <div class="columns">

      <p>I just finished a Ruby class, followed by a Ruby on Rails class, taught by <a href="https://twitter.com/aviflombaum">Avi Flombaum</a> and <a href="https://twitter.com/chyldmedford">Chyld Medford</a>. I&apos;m excited to get my hands dirty with web coding, so I&apos;ve dreamed up a new weekend project called Sound &amp; Vision that will use the Rdio API. </p>

      <p>Sound &amp; Vision will store approximately twenty playlists I&apos;ve compiled. Each playlist will take its cues from a particular visual artist&apos;s time and place. For instance, the Andy Warhol playlist will have bands from New York City between the 1960s and 80s that Warhol either sponsored or inspired, and that he himself might have listened to. A Jackson Pollock playlist might be mostly 50s jazz that the painter might have taken inspiration from.</p>

      <p>Funny, but the main use that I&apos;ll have for the app is putting on my headphones while focusing on design work. If you design, paint, code or draw all day you&apos;ll probably enjoy it too. Stay tuned for playlists influenced by Warhol, Duchamp, Romare Bearden, Kokoschka, Pollock and more&hellip; </p>
    </div><!-- .columns -->
  </div><!-- .copy -->
</div><!-- .post -->










<div class="post mixel_tapes">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/mixel_tapes.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/mixel_tapes.jpg", :'1x' => "/images/mixel_tapes.jpg", :'2x' => "/images/mixel_tapes@2x.jpg") %>
      <% end %>
    </div><!-- .image_wrapper -->

    <h4>12 September 2012</h4>
    <h2>Mixel Tapes</h2>
    
    <div class="columns">
      <p>When Mixel for iPad was replaced by Mixel for iPhone, a favorite pet project called Mixel Tapes was temporarily paused. Mixel Tapes let users easily make a mix tape by combining mixels with Rdio playlists. <a href="http://www.subtraction.com/">Khoi</a> and I made the mockups, with illustrations by <a href="http://dribbble.com/romanjusdado">Rom&aacute;n Jusdado</a>.</p>
      
      <p>Mixel Tapes was designed as a single-screen web app with animated tape recorder and scrubber interface at the top of the page, and a library of Mixel Tapes &ndash; created by other users &ndash; sitting just at the bottom of the browser window. Users could listen to any random tape or choose to make their own in the tape creation wizard (not pictured). The wizard would let users log in to their Rdio account (although they didn&apos;t have to) and grab their own playlist. They could then add their own Mixel collage as a cover. Users could choose to share their tape through Facebook, Twitter or email.</p>

      <p>Some of the layouts were a bit tricky, and I built a proof of concept demo using CSS3 and Javascript to make sure that all of our plans were possible. The project is notable in that Khoi and I worked fluidly between detailed Photoshop mockups and designing in browser.</p>
    </div><!-- .columns -->
  </div><!-- .copy -->
</div><!-- .post -->










<div class="post mixel_for_ipad">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/mixel_for_ipad.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/mixel_for_ipad.jpg", :'1x' => "/images/mixel_for_ipad.jpg", :'2x' => "/images/mixel_for_ipad@2x.jpg") %>
      <% end %>
    </div><!-- .image_wrapper -->

    <h4>2 May 2012</h4>
    <h2>Mixel for iPad</h2>
    
    <div class="columns">
      <p>For the past few months I&apos;ve been working for <a href="http://www.subtraction.com/">Khoi Vinh</a> at Mixel, where we&apos;ve just released a new version of the Mixel for iPad app as well as a new version of the website. (Homepage pictured above). It has been fun and completely engaging to work with such a sharp team. I&apos;m consistently impressed by our pace and the quality of work from our tiny team.</p>
      
      <p>But let me tell you about the app. Mixel for iPad is a whole new way of playing with photos. Just add images from the web or from the photos on your iPad. Cut them out with your finger and intuitively place them on the iPad&apos;s large canvas. It&apos;s easy and undeniably engaging. Then share the collage on the Mixel network. If someone else likes what they see, they will likely <em>remix</em> your collage &ndash; reworking your images into a completely different image, all while adding onto the thread you initiated.</p>

      <p>Mixel collages are often comical and/or political, and many are sophisticated and abstract. Awesomely, some Mixel threads can become hundreds of collages long. There&apos;s an incredible community of artists forming around Mixel for iPad.</p>
    </div><!-- .columns -->
  </div><!-- .copy -->
</div><!-- .post -->










<div class="post little_frame">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/little_frame.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/little_frame.jpg", :'1x' => "/images/little_frame.jpg", :'2x' => "/images/little_frame@2x.jpg") %>
      <% end %>
    </div><!-- .image_wrapper -->

    <h4>1 April 2012</h4>
    <h2>Auto-reload for responsive grids</h2>
    
    <div class="columns">
      <p>Since <a href="https://twitter.com/mbrandonw">@mbrandonw</a> and I both have new jobs, we&apos;re shelving a project for an iOS app called Little Frame. I dig the design work we put into the project, so I&apos;m publishing the unfinished marketing site here as a demo. The <a href="/demos/little_frame_demo/index.html" target="_blank">demo (Webkit desktop browser only)</a> is heavily in debt to <a href="http://nclud.com/">nclud</a>&apos;s <a href="http://2011.beercamp.com/">Beercamp 2011</a> site. <a href="http://html.adobe.com/edge/inspect/">Adobe Shadow</a> seems to share some of the app's functionality.</p>
      
      <p>Little Frame lets web developers specify a number of columns and a baseline for their mobile web designs for up to three different devices. These might include an iPhone, iPad and a specific Android device.  Views of these three devices with a column and baseline grid overlay would subsequently appear in the Little Frame iPad app. At any time, the developer could then press save on a bit of code and not only would the browser auto-reload, but so would the device views in the Little Frame iPad app. This was like instantly seeing a code change on up to four devices at once and could speed up development time for any modern front-end web developer.</p>

    </div><!-- .columns -->
  </div><!-- .copy -->
</div><!-- .post -->







<div class="post hashable">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/hashable.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/hashable.jpg", :'1x' => "/images/hashable.jpg", :'2x' => "/images/hashable@2x.jpg") %>
      <% end %>
    </div><!-- .image_wrapper -->

    <h4>8 October 2011</h4>
    <h2>Hashable</h2>
    
    <div class="columns">
      <p>Hashable is a personal contacts manager that&apos;s full of social features. I&apos;ve designed web, Android and iOS interfaces there for the past year. Here&apos;s a look at the new desktop web app that I&apos;ve created with <a href="https://twitter.com/angisingh">@angisingh</a>.</p>
      
      <p>For this project we decided to re-imagine the page-based Hashable web app as more of a single-view experience. Beyond that, we wanted to make the new web app feel more professional and functional. We left behind some of the social game experiences that Hashable had created earlier in its evolution, opting instead for a no nonsense, facts-only web browser experience.</p>

      <p>My time at Hashable has been rewarding, as I&apos;ve seen the start-up and its apps go through many iterations &ndash; each app evolving as the company&apos;s purpose has become more clearly defined. I particularly enjoyed this web project, as I was able to design fluidly &ndash; moving comfortably between wireframes, comps and markup in the web browser.</p>

    </div><!-- .columns -->
  </div><!-- .copy -->
</div><!-- .post -->










<div class="post cloud_assassin">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/cloud_ass.jpg") %>
      <% else %>
        <%= responsive_image_tag("/images/cloud_ass.jpg", :'1x' => "/images/cloud_ass.jpg", :'2x' => "/images/cloud_ass@2x.jpg") %>
      <% end %>
    </div><!-- .image_wrapper -->

    <h4>13 August 2011</h4>
    <h2>Cloud Assassin is devilishly fun!</h2>
    
    <div class="columns">
      <p>Cloud Assassin is a devilishly fun take on the game <em>Assassin</em> played on college campuses everywhere and now updated for iPhone and Android devices. Here&apos;s how it works: Invite a group of friends to play via text message. Players are assigned a random target. It&apos;s your job to take the target <em>out</em> by covertly snapping their photo. The last assassin standing wins!</p>
      
      <p><a href="https://twitter.com/#!/aaronhenshaw">Aaron</a>, <a href="https://twitter.com/joelallouz">Joe</a>, and <a href="https://twitter.com/mbrandonw">Brandon</a> started to build Cloud Assassin at a hackathon and later invited me to flesh it out. It was fun to dust off my Wacom tablet and make a few illustrations for the project. I developed Hairy Sands (a mustachioed detective) and Bridget Braun (a camera-toting undercover agent) as avatars that players could use to anonymously message each other while playing.</p>

    </div>
  </div><!-- .copy -->
</div><!-- .post -->









<div class="post osr">
  <div class="copy">
    <div class="image_wrapper">

      <% if phone? %>
        <%= image_tag("/mobile_images/osr_splash.jpg") %>
        <!--  <%= image_tag("/mobile_images/osr_logo.jpg") %>
        <%= image_tag("/mobile_images/osr_page.jpg") %> -->
      <% else %>
        <%= image_tag("/images/osr_splash.jpg") %>
        <%= image_tag("/images/osr_logo.png", :class => 'logo') %>
        <%= image_tag("/images/osr_page.jpg") %>
      <% end %>

    </div><!-- .image_wrapper -->

    <h4>16 September 2010</h4>
    <h2>On Stellar Rays</h2>
    
    <div class="columns">
      <p>When Candice Madey &ndash; a curator whose taste and judgement I&apos;ve admired since we worked together in Chelsea &ndash; decided to open her own art gallery in the Lower East Side, I excitedly jumped at the chance to create her logo and online identity.</p>

      <p>Candice wanted the web presence for <a class="no_wrap" href="http://onstellarrays.com">On Stellar Rays</a> to stand out from the typical gallery site; at the same time, she wanted the artworks on the website to be featured prominently.</p>
      
      <p>So we chose a bold logo idea that crashed letter forms and mirrored itself from left right, but could be easily cut in half whenever needed.</p>

      <p>For the site, we decided upon a bold splash page that would mimic a full page Artforum ad &ndash; revealing details for the current exhibition. Inside the site I used a bold vertical nav placed near center, and then laid out the site according to eight rationally spaced columns. The whole thing uses Wordpress as a CMS.</p>

    </div>
  </div><!-- .copy -->
</div><!-- .post -->











