<!DOCTYPE html>
<html>
<head>
  <title>mmmmmmmmmmmmmimic.net</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <footer>
    <ul>
      <li class="first"><%= link_to "Twitter", "https://twitter.com/RoyStanfield"%></li>
      <li><%= link_to "Instagram", "http://instagram.com/roystanfield" %></li>
      <li class="last"><%= mail_to "roystanfield@gmail.com"%></li>
    </ul>
  </footer>
</body>
  <%= javascript_include_tag "application" %>
</html>
