<!DOCTYPE html>
<html>
<head>
  <title>mmmmmmmmmmmmmimic.net</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header></header>
  <%= yield %>

  <footer>
    <ul>
      <li class="first"><%= link_to "@roystanfield", "https://twitter.com/RoyStanfield"%></li>
      <li><%= link_to "Dribbble", "https://dribbble.com/RoyStanfield" %></li>
      <li><%= link_to "Instagram", "http://instagram.com/roystanfield" %></li>
      <li><%= link_to "GitHub", "https://github.com/roystanfield" %></li>
      <li class="last"><%= link_to "Svbtle Blog", "http://roystanfield.svbtle.com/" %></li>
    </ul>
  </footer>
</body>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/bva6daz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</html>
